<div class="resumen">

    <section class="section">
        <div class="title">
            <div class="text-animate2">
                <h2>Resumen</h2>
            </div>
            <div class="line"></div>
        </div>
        <div class="container">
            <div class="conte">
                <h1 class="heading"><i class='bx bxs-graduation c1'></i>Educacion</h1>
                <div class="box_container">
                    <div class="box b1">
                        <div class="text">
                            <div class="experiencia__calendar">
                                <i class="uil uil-calendar-alt"></i>
                                <p> 2019 / Actualmente 8º</p>
                            </div>
                            <h4>Ingenieria de Sistemas</h4>
                            <p>UNAD </p>
                            <p>Colombia
                                <img class="img-1" src="https://cdn-icons-png.flaticon.com/512/330/330508.png"
                                    loading="lazy" alt="">
                            </p>
                        </div>
                    </div>

                    <div class="box b2">
                        <div class="text">
                            <div class="experiencia__calendar">
                                <i class="uil uil-calendar-alt"></i>
                                <p> 2022 / 2023 Finalizado </p>
                            </div>
                            <h4>Auxiliar Qa Analyst </h4>
                            <p>Empresa - Lineru-Tangelo </p>
                            <p>Colombia
                                <img class="img-1" src="https://cdn-icons-png.flaticon.com/512/330/330508.png"
                                    loading="lazy" alt="">
                            </p>
                        </div>
                    </div>
                    <div class="box b1">
                        <div class="text">
                            <div class="experiencia__calendar">
                                <i class="uil uil-calendar-alt"></i>
                                <p>2019 Finalizado </p>
                            </div>
                            <h4>Bachillerato </h4>
                            <p>Colegio - Jorge Eliecer Gaitan </p>
                            <p>Colombia
                                <img class="img-1" src="https://cdn-icons-png.flaticon.com/512/330/330508.png"
                                    loading="lazy" alt="">
                            </p>
                        </div>
                    </div>


                </div>
            </div>
            <div class="conte">
                <h1 class="heading"><i class='bx bxs-briefcase-alt-2 c2'></i>Experiencia</h1>
                <div class="box_container">
                    <div class="box b2">
                        <div class="text">
                            <div class="experiencia__calendar">
                                <i class="uil uil-calendar-alt"></i>
                                <p> 2022 / 2023 Finalizado </p>
                            </div>
                            <h4>Auxiliar Frontend </h4>
                            <p>Empresa - Lineru-Tangelo </p>
                            <p>Colombia
                                <img class="img-1" src="https://cdn-icons-png.flaticon.com/512/330/330508.png"
                                    loading="lazy" alt="">
                            </p>
                        </div>
                    </div>
                    <div class="box b1">
                        <div class="text">
                            <div class="experiencia__calendar">
                                <i class="uil uil-calendar-alt"></i>
                                <p>2023 Finalizado </p>
                            </div>
                            <h4>Analisis y Desarrollo De Sistemas De Informacion </h4>
                            <p>Sena - Tecnologo </p>
                            <p>Colombia
                                <img class="img-1" src="https://cdn-icons-png.flaticon.com/512/330/330508.png"
                                    loading="lazy" alt="">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="habilidades">
            <div class="title">
                <div class="text-animate2">
                    <h2>Habilidades</h2>
                </div>
                <div class="line"></div>
            </div>
            <div class="container a2">
                <div class="box_contain">
                    <div #wrapper1 class="wrapper">
                        <div #ticket1 class="ticket d1">
                            <img class="imagen" src="../../../assets/img/resumen/angular.png" loading="lazy" alt="">
                            <div class="bg1"></div>
                            <div class="bg2"> </div>
                            <h1>Angular</h1>
                            <div class="bg"></div>
                        </div>

                    </div>
                    <div #wrapper2 class="wrapper">
                        <div #ticket2 class="ticket d2">
                            <img class="imagen" src="../../../assets/img/resumen/mysql.png" loading="lazy" alt="">
                            <div class="bg1"></div>
                            <div class="bg2"></div>
                            <h1>Mysq</h1>
                            <div class="bg"></div>
                        </div>
                    </div>
                    <div #wrapper3 class="wrapper">
                        <div #ticket3 class="ticket d3">
                            <img class="imagen" src="../../../assets/img/resumen/node.png" loading="lazy" alt="">
                            <div class="bg1"></div>
                            <div class="bg2"></div>
                            <h1>Node js</h1>
                            <div class="bg"></div>
                        </div>
                    </div>
                    <div #wrapper4 class="wrapper">
                        <div #ticket4 class="ticket d4">
                            <img class="imagen" src="../../../assets/img/resumen/js.png" loading="lazy" alt="">
                            <div class="bg1"></div>
                            <div class="bg2"> </div>
                            <h1>Java Script</h1>
                            <div class="bg"></div>
                        </div>

                    </div>
                    <div #wrapper5 class="wrapper">
                        <div #ticket5 class="ticket d5">
                            <img class="imagen" src="../../../assets/img/resumen/html.png" loading="lazy" alt="">
                            <div class="bg1"></div>
                            <div class="bg2"></div>
                            <h1>Html</h1>
                            <div class="bg"></div>
                        </div>
                    </div>
                    <div #wrapper6 class="wrapper">
                        <div #ticket6 class="ticket d6">
                            <img class="imagen" src="../../../assets/img/resumen/css.png" loading="lazy" alt="">
                            <div class="bg1"></div>
                            <div class="bg2"></div>
                            <h1>Css</h1>
                            <div class="bg"></div>
                        </div>
                    </div>

                    <div #wrapper7 class="wrapper">
                        <div #ticket7 class="ticket d7">
                            <img class="imagen" src="../../../assets/img/resumen/iconpostman.png" loading="lazy" alt="">
                            <div class="bg1"></div>
                            <div class="bg2"></div>
                            <h1>Postman</h1>
                            <div class="bg"></div>
                        </div>
                    </div>
                    <div #wrapper8 class="wrapper">
                        <div #ticket8 class="ticket d8">
                            <img class="imagen" src="../../../assets/img/resumen/iconts.png" loading="lazy" alt="">
                            <div class="bg1"></div>
                            <div class="bg2"></div>
                            <h1>Type Script</h1>
                            <div class="bg"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="referencias">
            <div class="title">
                <div class="text-animate2">
                    <h2>Referencias</h2>
                </div>
                <div class="line"></div>
            </div>
            <div class="container3">
                <!-- Tarjeta 1 -->
                <div class="cards1">
                    <div class="card1_border" style="border: 1px solid  #0f0; 
                    box-shadow: inset 0px 0px 6px 2px #0f0;">
                        <img src="../../../assets/img/resumen/harve.png" alt="card image" class="card1_img">
                    </div>
                    <div class="card1" #card1 style="--clr: #0f0;" id="clickableSection1"></div>
                    <i class="click fa-regular fa-hand-point-left" id="hand1"></i>
                    <h3 class="card1_name">Harbey Paez</h3>
                    <span class="card1_profession">Ingenieria de Sistemas</span>
                    <div class="card1_social a1" id="card1-social1">
                        <div class="card1_social-control">
                            <div class="card1_social-toggle d1" id="card1-toggle1">
                                <i class="ri-add-line"></i>
                            </div>
                            <span class="card1_social-text">Redes Sociales</span>
                            <ul class="card1_social-list">
                                <a href="https://www.facebook.com/" target="blank" class="card1_social-link">
                                    <i class="ri-facebook-line"></i>
                                </a>
                                <a href="https://www.instagram.com/" target="blank" class="card1_social-link">
                                    <i class="ri-instagram-line"></i>
                                </a>
                                <a href="https://twitter.com/" target="blank" class="card1_social-link">
                                    <i class="ri-twitter-line"></i>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Tarjeta 2-->
                <div class="cards1">
                    <div class="card1_border"
                        style="border: 1px solid  #ff0055;box-shadow: inset 0px 0px 6px 2px #ff0055;">
                        <img src="../../../assets/img/resumen/joha.png" alt="card image" class="card1_img">
                    </div>
                    <div class="card1" #card1 style="--clr: #ff0055;" id="clickableSection2"></div>
                    <i class="click fa-regular fa-hand-point-left" id="hand2"></i>
                    <h3 class="card1_name">Johana Milena Martinez</h3>
                    <span class="card1_profession">Contadora</span>
                    <div class="card1_social a2" id="card1-social2">
                        <div class="card1_social-control">
                            <div class="card1_social-toggle d2" id="card1-toggle2">
                                <i class="ri-add-line"></i>
                            </div>
                            <span class="card1_social-text">Redes Sociales</span>
                            <ul class="card1_social-list">
                                <a href="https://www.facebook.com/" target="blank" class="card1_social-link">
                                    <i class="ri-facebook-line"></i>
                                </a>
                                <a href="https://www.instagram.com/" target="blank" class="card1_social-link">
                                    <i class="ri-instagram-line"></i>
                                </a>
                                <a href="https://twitter.com/" target="blank" class="card1_social-link">
                                    <i class="ri-twitter-line"></i>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Tarjeta 3-->
                <div class="cards1">
                    <div class="card1_border"
                        style="border: 1px solid  #1e00ff; box-shadow: inset 0px 0px 6px 2px #1e00ff;">
                        <!-- <img src="../../../assets/img/resumen/harve.png" alt="card image"class="card1_img"> -->
                    </div>
                    <div class="card1" #card1 style="--clr: #1e00ff;" id="clickableSection3"></div>
                    <i class="click fa-regular fa-hand-point-left" id="hand3"></i>
                    <h3 class="card1_name">Julieth Cuervo</h3>
                    <span class="card1_profession">Recursos Humanos</span>
                    <div class="card1_social a3" id="card1-social3">
                        <div class="card1_social-control">
                            <div class="card1_social-toggle d3" id="card1-toggle3">
                                <i class="ri-add-line"></i>
                            </div>
                            <span class="card1_social-text">Redes Sociales</span>
                            <ul class="card1_social-list">
                                <a href="https://www.facebook.com/" target="blank" class="card1_social-link">
                                    <i class="ri-facebook-line"></i>
                                </a>
                                <a href="https://www.instagram.com/" target="blank" class="card1_social-link">
                                    <i class="ri-instagram-line"></i>
                                </a>
                                <a href="https://twitter.com/" target="blank" class="card1_social-link">
                                    <i class="ri-twitter-line"></i>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
    <div class="footer">
        <p>&copy; 2024. Todos los derechos son reservados.</p>
    </div>
</div>