<div class="proyect">
   <section class="section">
      <div class="title">
         <div class="text-animate2">
            <h2>Proyectos</h2>
         </div>
         <div class="line"></div>
      </div>
      <div class="card__container">
         <!-- Proyecto 1: CalculAdapta -->
         <article class="card__article card a1">
            <img src="../../../assets/img/proyect/calcuapp.png" alt="Imagen del proyecto CalculAdapta" loading="lazy"
               class="card__img">
            <div class="card__data">
               <span class="card__description">Calculadora adaptada para personas con discapacidades visuales y
                  auditivas.</span>
               <h2 class="card__title">CalculAdapta</h2>
               <a href="https://lespov.github.io/Calculadora/" target="_blank" class="card__button">Abrir</a>
            </div>
         </article>

         <!-- Proyecto 2: ¡Ojo con Eso! -->
         <article class="card__article card a2">
            <img src="../../../assets/img/proyect/chatbotiaojoconeso.png" alt="Imagen del proyecto ¡Ojo con Eso!"
               loading="lazy" class="card__img">
            <div class="card__data">
               <span class="card__description">Chatbot inteligente que ayuda a mapear los sueños y necesidades de los
                  ciudadanos. Además, permite denunciar de manera anónima situaciones que afectan a las personas más
                  vulnerables.</span>
               <h2 class="card__title">¡Ojo con Eso!</h2>
               <a href="#" class="card__button" (click)="showsuccess()">Leer más</a>
            </div>
         </article>

         <!-- Proyecto 3: ChatbotCesantias -->
         <article class="card__article card a3">
            <img src="../../../assets/img/proyect/chatbot.png" alt="Imagen del proyecto ChatbotCesantias" loading="lazy"
               class="card__img">
            <div class="card__data">
               <span class="card__description">Este chatbot facilita a los empleados consultar, gestionar y recibir
                  información actualizada sobre sus cesantías, de manera rápida y eficiente.</span>
               <h2 class="card__title">ChatbotCesantias</h2>
               <a href="#" class="card__button" (click)="showsuccess()">Leer más</a>
            </div>
         </article>

         <!-- Proyecto vacío (en desarrollo) -->
         <article class="card__article card a4" (click)="showsuccess()">
            <!-- Proyecto en desarrollo -->
         </article>
      </div>
   </section>

   <!-- Footer -->
   <div class="footer">
      <p>&copy; 2024. Todos los derechos reservados.</p>
   </div>
</div>