<div class="contacto">
    <section class="section">
        <div class="title">
            <div class="text-animate2">
                <h2>Contactame</h2>
            </div>
            <div class="line"></div>
        </div>
        <div class="container">
            <div class="contacto__container containerd1 grid">
              
               <form id="form" #form class="contacto__form grid">
                    <div class="contacto__inputs grid">
                        <div class="contacto__content">
                            <label for="name" class="contacto__label">Nombre</label>
                            <input name="name" required type="text" id="name" class="contacto__input">
                        </div>
                        <div class="contacto__content">
                            <label for="email" class="contacto__label">Gmail</label>
                            <input name="email" type="email" required id="email" class="contacto__input">
                        </div>
                    </div>
                    <div class="contacto__content">
                        <label for="empresa" class="contacto__label">Empresa o Proyecto</label>
                        <input name="empresa" type="text" id="empresa" class="contacto__input">
                    </div>
                    <div class="contacto__content">
                        <label for="message" class="contacto__label">Mensaje</label>
                        <textarea name="message" id="message" cols="30" rows="2.5" class="contacto__input"></textarea>
                    </div>
                    <div>
                        <button type="submit" class="button button--flex">
                            Enviar Mensaje
                            <i class="uil uil-message project__icon button__icon"></i>
                        </button>
                    </div>
                </form>
                <a href="mailto:leonardopoved@gmail.com" id="mail" #mail>email</a>
            </div>
        </div>
    </section>
    <div class="footer">
        <p>&copy; 2024. Todos los derechos son reservados.</p>
    </div>
</div>
