<div class="container">
  <div class="header">
    <div class="titulo">
      <div class="b1">
        <h2 class="border">Junior</h2>
        <h2 class="wave">Junior</h2>
      </div>
      <div class="b2">

        <h2 class="border2">FullStak</h2>
        <h2 class="wave2">FullStak</h2>
      </div>

    </div>
    <div class="social">
      <div class="card">
        <a href="https://www.linkedin.com/in/leonardo-poveda-b8310827b/" target="_blank"
          class="socialContainer containerOne">
          <i class="ri-linkedin-fill"></i>
        </a>

        <a href="https://github.com/LesPov" target="_blank" class="socialContainer containerTwo">
          <i class="ri-github-fill"></i>
        </a>


      </div>
    </div>


  </div>
  <div class="pointerstar">
    <div class="status">
      <div class="nav_btns_stars" (click)="showsuccess()">
        <div class="star" id="nav_star">
          <i class='bx bxs-star  change-theme'></i>
        </div>
        <div class="puntos">
          <p>Stars<span>1</span></p>
        </div>
      </div>
    </div>
  </div>
</div>