<div class="sobre_mi">
    <section class="section">
        <div class="title">
            <div class="text-animate2">
                <h2>Sobre mi</h2>
            </div>
            <div class="line"></div>
        </div>
        <p>Soy un apasionado explorador de la tecnología, impulsado por una curiosidad insaciable por aprender y crecer.
            Mi camino en la Ingeniería de Sistemas ha sido una aventura desafiante pero gratificante, donde he cultivado
            habilidades esenciales como la organización, resolucion de problemas y la puntualidad.
            <br>
            <br>
            Con una mente creativa y una perspectiva fresca, abordo cada reto como una oportunidad para imaginar, crear
            y transformar el mundo a mi alrededor. Inspirado por visionarios que aspiran a alcanzar las estrellas
        </p>

        <div class="container">
            <h1 class="heading">Lo que hago</h1>
            <div class="box_container">
                <div class="box b1">
                    <div class="icon "><i class=" fa-solid fa-swatchbook"></i></div>
                    <div class="text">
                        <h4>Ui/Ux Diseño</h4>
                        <p>Construyo interfaces intuitivas y experiencias memorables, fusionando estética y
                            funcionalidad.
                        </p>
                    </div>
                </div>
                <!-- <div class="box b2">
                    <div class="icon"><i class="fa-solid fa-laptop-code"></i></div>
                    <div class="text">
                        <h4>App Development</h4>
                        <p>Desarrollo aplicaciones móviles innovadoras y eficientes con tecnologías de vanguardia.</p>
                    </div>
                </div> -->
                <div class="box b2">
                    <div class="icon"><i class="fa-solid fa-code"></i></div>
                    <div class="text">
                        <h4>Desarrollo Web</h4>
                        <p>Creo sitios web dinámicos y atractivos con un diseño impactante y rendimiento óptimo.</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="wrapper">
            <h1 class="subtitle">Lo que me gusta</h1>
            <p>Soy un apasionado programador con un espíritu aventurero que le gusta las alturas de las
                montañas, ya sea escalando el majestuoso Monserrate o explorando otras rutas permitidas en Bogotá.
                Además de mi amor por la naturaleza, siento una fascinación inexplicable por el vasto universo y la
                intriga del espacio, soñando con la posibilidad de colaborar en una base espacial algún día. La música
                es mi constante compañera en todas mis actividades, inspirándome mientras programo, escalo una montaña o
                me sumerjo en las maravillas del cosmos. Mi pasión por la tecnología y la innovación me impulsa a
                mantenerme al día con las últimas herramientas y soluciones en el mundo de la programación, siempre
                buscando ofrecer soluciones eficientes y creativas a los desafíos que enfrento.
            </p>
            <div class="container1">
                <input type="radio" name="slide" id="c1" checked>
                <label for="c1" class="card">
                    <div class="row">
                        <div class="icon"> <img src="../../../assets/img/sobremi/iconmontaña.png" loading="lazy" alt=""></div>

                        <div class="description c1">
                            <h3>Montañismo</h3>
                            <p>-La Laguna Negra <br>
                               -La Quebrada de la vieja<br>
                               -Monserrate<br>
                               -Parque Entre Nubes<br>
                               -Rosales Altos<br>
                            </p>
                        </div>
                    </div>
                </label>
                <input type="radio" name="slide" id="c2">
                <label for="c2" class="card">
                    <div class="row">
                        <div class="icon"> <img src="../../../assets/img/sobremi/iconspace.png" loading="lazy" alt=""></div>

                        <div class="description c2">
                            <h3>Espacio</h3>
                            <p>-La Laguna Negra <br>
                                -La Quebrada de la vieja<br>
                                -Monserrate<br>
                                -Parque Entre Nubes<br>
                                -Rosales Altos<br>
                             </p>
                         </div>
                        </div>
                </label>
                <input type="radio" name="slide" id="c3">
                <label for="c3" class="card">
                    <div class="row">
                        <div class="icon"> <img src="../../../assets/img/sobremi/iconmusic.jpeg" loading="lazy" alt=""></div>

                        <div class="description c3">
                            <h3>Musica</h3>
                            <p>-La Laguna Negra <br>
                                -La Quebrada de la vieja<br>
                                -Monserrate<br>
                                -Parque Entre Nubes<br>
                                -Rosales Altos<br>
                             </p>
                         </div>
                        </div>
                </label>
                <input type="radio" name="slide" id="c4">
                <label for="c4" class="card">
                    <div class="row">
                        <div class="icon"> <img src="../../../assets/img/sobremi/icontecnologia.png" loading="lazy" alt=""></div>

                        <div class="description c4">
                            <h3>Tecnologia</h3>
                            <p>-La Laguna Negra <br>
                                -La Quebrada de la vieja<br>
                                -Monserrate<br>
                                -Parque Entre Nubes<br>
                                -Rosales Altos<br>
                             </p>
                        </div>
                    </div>
                </label>
            </div>
        </div>


    </section>

    <div class="footer">
        <p>&copy; 2024. Todos los derechos son reservados.</p>
    </div>
</div>