<div class="header">
    <div class="nav container">
        <a href="" class="nav_logo">Lespodev</a>
        <div class="nav_menu" id="nav-menu">
            <ul class="nav_list grid">
                <li class="nav_item" *ngFor="let data of navData">
                    <a class="nav_link" [routerLink]="[data.routerLink]" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}" (click)="hideMenu()">
                        <span class="sidenav_link_text">{{data.label}}</span>
                        <i class="ri-home-4-line nav_icon" [class]="data.icon"></i>
                    </a>

                </li>

            </ul>
            <i class="ri-close-line nav_close" id="nav-close"></i>
        </div>

        <div class="nav_btns">
            <!-- ////////////////////thema negro///////////// -->
            <i class="uil uil-moon change-theme" id="theme-button" (click)="toggleTheme()"></i>
            <i class='bx bx-volume-full change-theme' id="theme-button" (click)="showsuccess()"></i>

            <div class="nav_toggle" id="nav-toggle">
                <i class="ri-apps-line "></i>

            </div>
        </div>

    </div>
</div>